[defaults]
Inventory = ./ansible-hosts
Host_key_checking = false
Timeout = 5

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
